<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebStore">
	<test name="Smoke">
		<classes>
			<class name="testcases.TC001_LoginSuccess" />
			<class name="testcases.TC002_LoginFailure" />
			<class name="testcases.TC003_Register" />
		</classes>
	</test> <!-- Smoke -->
</suite> <!-- WebStore -->
